* {
    font-size: 140%;
    font-weight: 390;
    line-height: 1;
    font-family: 'Segoe UI';
}

body {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: center;
}

.calc-body{
    background: #ff8b8bfb;
    border-radius: 12px;
    min-width: 20%;
    max-width: 50%;
    min-height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    overflow: hidden;
}

.display{
    border-radius: 12px;
    margin: 5% auto;
    width: 90%;
    height: 95%;
    background: #fffffffb;
}

.screen, .screen-ip{
    width: 90%;
    height: 95%;
    background: #ffffff;
    color: rgb(121, 121, 121);
    font-size: 1em;
    padding: 0em 0.1em;
    text-align: right;
    margin: 0em 0.1em;
    font-family: Calibri;
    margin: auto;
}

.screen{
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}

.buttons{
    width: 90%;
    height: 100%;
    display: grid;
    margin: 10% auto;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 50%;
}

.buttons > .operator{
    font-size: .75em;
    display: block;
    border: #ff4444;
    border-radius: inherit;
    background: #ff7b23fb;
    color: rgb(0, 60, 75);
    text-align: center;
}

button:active{
    background: #ff8e8e;
    -webkit-box-shadow: inset 0px 0px 5px #ff0000;
       -moz-box-shadow: inset 0px 0px 5px #ffffff;
            box-shadow: inset 0px 0px 5px #ffffff;
     outline: none;
}

.operator:hover{
    background: #c04f22;
}

.buttons > .equal{
    font-size: 1em;
    border: #0059ff;
    border-radius: inherit;
    background: #4082fd;
}

.buttons > .num{
    font-size: 1em;
    border: #ff8e8e;
    border-radius: inherit;
    background: #fdcbcbfb
}

.buttons > .canc{
    font-size: .6em;
    border: red;
    border-radius: inherit;
    background: #fa6161fb;
}

.equal:hover{
    background: #00369b;
}

.canc:hover{
    background: rgb(161, 0, 0);
}

.num:hover{
    background: #a76666;
}

#zero{
    grid-column: 1 / span 2;
    border-radius: 500px;
}